<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db2Entities" connectionString="metadata=res://*/db2.csdl|res://*/db2.ssdl|res://*/db2.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Code\DOTNET\GenericRepository\DataModel\Database\db2.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>